.menu-view {

    // 顶部导航
    &>.nav {
        background-color: white;
        padding: 10rpx;
        padding-left: 30rpx;
        position: relative;

        &>text {
            padding: 20rpx;
            display: inline-block;
            font-weight: 200;
            font-size: 30rpx;
            vertical-align: top;

            &.active {
                color: #2196f3;
                font-weight: 400;
                border-bottom: 4rpx solid #2196f3;
            }

            &.btn {
                position: absolute;
                right: 20rpx;
                top: 0;
                width: 70rpx;
                font-weight: 800;
                font-size: 40rpx;
                height: 100%;
                padding: 0;
                background-image: url(../../static/add.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    // 弹框
    &>.dialog {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: #e3e3e8b0;

        &>.view {
            background-color: white;
            width: 650rpx;
            position: fixed;
            left: 50rpx;
            top: 300rpx;

            &>.title {
                text-align: center;
                margin-top: 40rpx;
            }

            &>.input-item {
                font-size: 28rpx;
                margin: 40rpx 20rpx;
                white-space: nowrap;

                &>.sub-title {
                    vertical-align: top;
                }

                &>.input {
                    display: inline-block;
                    font-size: 26rpx;

                    &.text {
                        border-bottom: 2rpx solid #dadadf;
                        margin-left: 26rpx;
                        width: calc(100% - 140rpx);
                        padding: 10rpx;
                    }

                    .radio {
                        margin-left: 7rpx;

                        &>radio {
                            transform: scale(0.5);
                        }

                        &>text {
                            margin-left: -7rpx;
                        }
                    }
                }
            }

            &>.btn-list {
                text-align: center;

                &>button {
                    width: 30%;
                    display: inline-block;
                    font-size: 28rpx;
                    margin: 20rpx;
                }
            }
        }
    }

    // 列表
    .list {
        &>.list-item {
            background-color: white;
            margin: 40rpx;
            padding: 20rpx;
            border-radius: 10rpx;
            padding-right: 120rpx;
            position: relative;

            &>.title {
                padding: 10rpx;
                padding-left: 50rpx;
                background-repeat: no-repeat;
                background-position: left center;
                &.remark{
                    background-image: url(../../static/ico3.png);
                }
                &.study,&.work{
                    background-image: url(../../static/ico1.png);
                }
                &.willdo{
                    background-image: url(../../static/ico2.png);
                }
            }

            &>.info {
                color: gray;
                font-size: 27rpx;
                margin-top: 10rpx;
            }

            &>.date {
                font-size: 24rpx;
                margin-top: 10rpx;
            }

            &>.btn{
                position: absolute;
                right:0;
                color:white;
                font-size: 24rpx;
                padding:5rpx 10rpx;

                &.delete{
                    top:20rpx;
                    background-color: #ff9800;
                }
                &.editor{
                    top:80rpx;
                    background-color: #2196f3;
                }
            }
        }
    }

}
